@using Demo.BLL.Services.DepartmentServices
@model EmployeeViewModel
@inject  IDepartmentService departmentService
@{
    var types = new SelectList(Enum.GetValues(typeof(EmployeeType)));
    var departments = new SelectList(departmentService.GetAllDepartments(), dataValueField: "Id", dataTextField: "Name");
}
<div class="form-group mb-3 col-6">
    <label class="form-label" asp-for="Name"></label>
    <input asp-for="Name" class="form-control" />
    <span asp-validation-for="Name" class="text-danger"></span>
</div>
<div class="form-group mb-3 col-6">
    <label class="form-label" asp-for="Image"></label>
    <input asp-for="Image" class="form-control" />
    <span asp-validation-for="Image" class="text-danger"></span>

    @if (Model.ImageName != null)
    {
        <small class="form-text text-muted">Current image: @System.IO.Path.GetFileName(Model.ImageName)</small>
    }
</div>
<input type="hidden" asp-for="ExistingImageName" />

<div class="form-group mb-3 col-6">
    <label class="form-label" asp-for="Email"></label>
    <input asp-for="Email" class="form-control" />
    <span asp-validation-for="Email" class="text-danger"></span>
</div>
<div class="form-group mb-3 col-6">
    <label class="form-label" asp-for="Address"></label>
    <input asp-for="Address" class="form-control" />
    <span asp-validation-for="Address" class="text-danger"></span>
</div>
<div class="form-group mb-3 col-6">
    <label class="form-label" asp-for="PhoneNumber"></label>
    <input asp-for="PhoneNumber" class="form-control" />
    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
</div>
<div class="form-group mb-3 col-6">
    <label class="form-label" asp-for="Age"></label>
    <input asp-for="Age" class="form-control" />
    <span asp-validation-for="Age" class="text-danger"></span>
</div>
<div class="form-group mb-3 col-6">
    <label class="form-label" asp-for="HireDate"></label>
    <input type="date" asp-for="HireDate" class="form-control" />
    <span asp-validation-for="HireDate" class="text-danger"></span>
</div>
<div class="form-group mb-3 col-6">
    <label class="form-label" asp-for="Salary"></label>
    <input asp-for="Salary" class="form-control" />
    <span asp-validation-for="Salary" class="text-danger"></span>
</div>
<div class="form-group mb-3 col-6">
    <input asp-for="IsActive" class="form-check-input" />
    <label class="col-form-label" asp-for="IsActive"></label>
</div>
<div class="form-group mb-3 col-6">
    <label class="col-form-label">Gender</label><br />
    @foreach (var gender in Enum.GetValues(typeof(EmployeeGender)))
    {
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" asp-for="EmployeeGender" value="@gender" />
            <label class="form-check-label">@gender</label>
        </div>
    }
    <span asp-validation-for="EmployeeGender" class="text-danger"></span>
</div>

<div class="form-group mb-3 col-6">
    <label class="col-form-label" asp-for="EmployeeType"></label>
    <select asp-for="EmployeeType" asp-items="types" class="form-control">
        <option value="@null">--Select Employee Type--</option>
    </select>
</div>
<div class="form-group mb-3 col-6">
    <label class="col-form-label" asp-for="Department"></label>
    <select asp-for="DepartmentId" asp-items="departments" class="form-control">
        <option value="@null">--Select Department--</option>
    </select>
</div>
